{% extends "base.html" %} {% block content %}

<!--Display the user's name in the h1 title-->
<div class="container">
  {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
            {% for msg in messages %}
                 <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
   {% endwith %}
  <h1 class="title">Welcome, {{ name }}!</h1>
  <!--Make a GET request to the /download path-->
  <a href="{{ url_for('download') }}">Download Your File</a>
</div>
{% endblock %}
